#authSection {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	width: 55%;

	background-color: var(--base);
}

#authSectionContent {
	margin-left: 80px;
	margin-top: 80px;
}

#authSectionH2 {
	color: var(--white);
	font-family: ExtraBold;
	font-size: 50px;
	margin: 0;
	margin-bottom: 60px;
}

#noAccountLink {
	display: block;
	margin-top: 50px;

	color: white;
}

#LogiLogoBig {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}

@media only screen and (max-width: 1200px) {
	#LogiLogoBig {
		display: none;
	}

	#authSectionContent {
		text-align: center;
		margin: 25px auto;
	}

	#authSectionContent input {
		margin: 50px auto;
		width: 300px;
	}

	#authSection {
		text-align: center;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: 450px;
		height: 475px;
		padding: 10px;
		border-radius: 15px;

		box-shadow: var(--shadow);
	}
}
