.form-input {
	padding: 9px;
	width: 50%;
	min-width: 300px;
	max-width: 700px;
	display: block;
	margin-bottom: 50px;
}

.form-button {
	background-color: var(--accent);
	border: none;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.3s;
	margin-top: 20px;
}

.form-button:hover {
	transform: scale(1.02);
}
