/* Form Input */
.form-input-container {
	position: relative;
	width: fit-content;
}

.form-input-error-message {
	color: red;
	font-size: 14px;
	position: absolute;
	top: 30px;
	left: 10px;
}

.form-input-label {
	margin-bottom: 2px;
}

.form-input {
	padding: 9px;
	width: 50%;
	min-width: 285px;
	max-width: 700px;
	display: block;
	border-radius: 2px;
	border: none;
	background-color: var(--foreground);
}

.form-button {
	background-color: var(--accent);
	border: none;
	color: white;
	padding: 8px 15px;
	cursor: pointer;
	transition: 0.3s;
	display: block;
	position: relative;
	border-radius: 2px;
}

.form-button:hover {
	transform: scale(1.02);
}

.form-button:disabled {
	opacity: 70%;
	cursor: no-drop;
	transform: scale(1);
}

.form-button-children-with-icon {
	float: left;
	margin-top: 5px;
}

.form-button-icon {
	float: left;
	margin-top: 3px;
	margin-left: 5px;
}

.form-popup-menu-header {
	margin: 20px auto;
}

.form-select {
	padding: 9px;
	width: 50%;
	min-width: 300px;
	max-width: 700px;
	display: block;
	border-radius: 2px;
	border: none;
	background-color: var(--foreground);
}

.form-select-container {
	position: relative;
	width: fit-content;
}
