@font-face {
	font-family: ExtraBold;
	src: url("/Users/ibrahim/Code/PS-Tools-V2/PS-TOOL-V2-CLIENT/app/src/Montserrat/Montserrat-ExtraBold.ttf")
		format("truetype");
}

@font-face {
	font-family: Bold;
	src: url("/Users/ibrahim/Code/PS-Tools-V2/PS-TOOL-V2-CLIENT/app/src/Montserrat/Montserrat-Bold.ttf")
		format("truetype");
}

@font-face {
	font-family: Medium;
	src: url("/Users/ibrahim/Code/PS-Tools-V2/PS-TOOL-V2-CLIENT/app/src/Montserrat/Montserrat-Medium.ttf")
		format("truetype");
}

:root {
	--base: #000c49;
	--accent: #ff00e5;
	--white: #ffffff;
	--foreground: #f0f0f0;
	--shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--foreground-content: #e2e2e2;
}

* {
	font-family: Medium;
}

body {
	overscroll-behavior: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.pageWithHeader {
	padding-top: 75px;
}

.pageWithSideBar {
	position: absolute;
	right: 0;
	width: 80%;
}
