#auth-page-logo-container {
	width: 40%;
	height: 100vh;
	position: relative;
	float: left;
}

#auth-page-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
}

#auth-page-form-section {
	background-color: var(--base);
	width: 60%;
	float: right;
	height: 100vh;
}

#auth-page-header {
	color: white;
	font-family: bold;
	font-size: 50px;
	margin-bottom: 80px;
}

#auth-page-form {
	margin-left: 80px;
	margin-top: 80px;
}

#auth-page-button {
	margin-top: 75px;
}

/* Handle small screen */
@media only screen and (max-width: 750px) {
	#auth-page-logo {
		display: none;
	}

	#auth-page-form-section {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 500px;
		height: 550px;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 15px;
		box-shadow: var(--shadow);
		padding: 10px 0px 30px 0px;
	}

	#auth-page-form {
		margin-left: 80px;
		margin-top: 40px;
	}
}
