/* Side bar */
#sideBarContainer {
	width: 20%;
	position: absolute;
	bottom: 0;
	top: 80px;
	left: 0;
	background-color: var(--foreground);
	overflow-y: scroll;
}

#sideBarAccordion {
	border: none;
	background-color: var(--foreground);
	box-shadow: none;
}

#sideBarAccordionSummaryText {
	margin-left: 10px;
}

#sideBarProjectNameHeader {
	margin-left: 10px;
	font-size: 20px;
	cursor: pointer;
}

#sideBarAccordionDetails {
	padding: 20px;
	width: calc(100%-20px);
	cursor: pointer;
	transition: 0.5s ease;
}

#sideBarAccordionDetails:hover {
	background-color: var(--foreground-content);
}

/* Dashboard */
#dashboardContainer {
	display: grid;
	grid-template-areas: "INBOX USERS";
	overflow-y: scroll;
}

.dashboardSection {
	background-color: var(--foreground);
	border-radius: 15px;
	height: 75vh;
	width: 85%;
	margin: 55px auto;
	box-shadow: var(--shadow);
	position: relative;
}

.dasboardSectionHeader {
	margin: 40px 0px 15px 40px;
	padding: 0;
	font-size: 30px;
}

#dashboardSectionScrollableContent {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;
	overflow-y: scroll;
	height: 85%;
}

#dashboardSectionScrollableContentEmpty {
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translateX(-50%);
	font-family: Medium;
	color: rgb(122, 122, 122);
}

#inboxSection {
	margin-right: 10px;
}

#usersSection {
	margin-left: 10px;
}

/* Notifications */

#notificationContainer {
	background-color: var(--foreground-content);
	box-shadow: var(--shadow);
	width: 80%;
	padding: 10px;
	margin: 15px auto;
	border-radius: 15px;
}

#notificationText {
}

#notificationTime {
	color: rgb(122, 122, 122);
}

/* Users */
#userContainer {
	background-color: var(--foreground-content);
	box-shadow: var(--shadow);
	width: 80%;
	height: 80px;
	padding: 10px;
	margin: 15px auto;
	border-radius: 15px;
	position: relative;
}

#userActions {
	position: absolute;
	top: 5px;
	right: 5px;
}

#userEmail {
	position: absolute;
	top: 25%;
}
