#header-container {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--base);
	padding: 15px;
	height: 65px;
}

#header-content {
	position: relative;
}

#header-logo-container {
	margin-left: 5px;
	position: relative;
	cursor: pointer;
	width: fit-content;
}

#header-logo-text {
	color: white;
	display: inline;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	margin-left: 10px;
}

#header-menu-button {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

#header-right {
	position: absolute;
	right: 80px;
	top: 50%;
	transform: translateY(-50%);
}

#header-middle {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
