#csv-file-input-container {
	cursor: pointer;
	margin: 10px;
}

#upload-image {
	width: 100px;
	float: left;
	margin-right: 20px;
}

#upload-csv-label {
	float: left;
	font-size: 30px;
	font-family: bold;
	opacity: 50%;
}
